.App{
  width: 100%;
  height: auto;
  display: flex; 
  background-color:#f5f3f3;
}
.main-page{
  margin-top: 5.5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-page{
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 5.5rem;
  }
}